/* *{outline: 0.2rem solid red;}  */
*{
    margin:0;
    padding:0;
}
body {
    min-height:100vh;
}
h1 {
    width:100%;
    text-align: center;
    margin-top: 0;
    margin-bottom:0;
    padding:1vh;
    font-size: 1.5rem;
    background-color: #DC4C3F;
    color:#fff;
}
section h2{
    color:#DC4C3F;
    font-size: 1.2rem;
}
h1 + section {
    /* width:79.39%; */
    width: 97.5%;
    min-height:15vh;
    margin:0 auto;
    padding-top:2vh;
    text-align: center;
    border:0.348rem solid #748C6D;
    border-bottom:0rem solid #748C6D;
    background-color: #CADFDA66;
}
h1 + section label:first-of-type,h1 + section label:nth-of-type(2) {
    display:block;    
    width:100%;
    margin:1vh auto 1vh auto;
    font-size: 1.15rem;
}
h1 + section label:nth-of-type(3){
    display:inline-block;
    width:70%;
    margin:0 0 1vh 0;
    font-size: 1.12rem;
}
#add_edit_category_button{
    display: inline-block;  
    font-size: 0.9rem;
    background-color:#F2B441BB;  
    padding:0.8vw;
    font-weight: 500;
    border-radius: 0.3rem;
    margin-bottom: 2.5vh;
}
#add_task_button{
    display: block;  
    font-size: 0.9rem;
    background-color:#F2B441BB;  
    padding:0.8vw;
    font-weight: 500;
    border-radius: 0.3rem;
    margin:0 auto;     
}
h1+section form{
    padding-bottom:2.5vh;
}
div section, div + section{
    width:97.5%;  
    min-height:15vh; 
    margin:0 auto; 
    text-align: center;   
    align-content: center;
    border:0.348rem solid #748C6D;
    background-color: #CADFDA66;
    border-bottom:0rem solid #748C6D;
}
div section h2, div + section h2{
    margin-top:1.5vh;
}
div section form table, div + section table{
    margin:1.5vh 0 0 1vh; 
    text-align: left; 
    padding-bottom: 1.5vh;  
}
input[type='checkbox'] {
    margin-right:1vh;
}
#completed_button, #delete_button{
    display: inline-block;  
    font-size: 0.9rem;
    background-color:#F2B441BB;  
    padding:0.8vw;
    font-weight: 500;
    border-radius: 0.3rem;
    margin:1vh auto;
}
div + section table{
    border-spacing: 0.7rem;       
}
div + section table tr td{
    text-decoration: line-through; 
}
div + section{
    border-bottom:0.348rem solid #748C6D; 
}
#add_task_button:hover, #add_edit_category_button:hover, #delete_button:hover, #completed_button:hover {
    background-color: #5E7A8F;
}
footer {
    min-height:5vh;
    text-align: center;
    background-color: #DC4C3F;
    padding-top:2vh;
    font-size: 1.15rem;
    color:#fff;
}

@media screen and (min-width:760px){
    h1 {
        font-size: 2.5rem;
        padding:1.5vh;
    }
    section h2{
        color:#DC4C3F;
        font-size: 1.8rem;
    }
    h1 + section {        
        width: 99%;        
    }
    h1 + section label:first-of-type,h1 + section label:nth-of-type(2) {
        display:block;    
        width:100%;
        margin:1vh auto 1vh auto;
        font-size: 1.3rem;
    }
    input, select{
        font-size: 1.1rem;
    }
    input[type='date']{
        font-size: 1.3rem;
    }
    h1 + section label:nth-of-type(3){
        display:inline;
        width:70%;
        margin:0 0 1vh 0;
        font-size: 1.3rem;
    }   
    div section, div + section{
        width:99%;        
    }    
    div section form table, div + section table{
        margin:1vh 0 0 5vh;        
        padding-bottom: 2vh; 
        font-size: 1.3rem; 
        border-spacing: 0.7rem;       
    }
    input[type='checkbox'] {
        margin-right:1vh;
    }
    #add_task_button, #add_edit_category_button, #completed_button, #delete_button{
        display: inline-block;  
        font-size: 1.2rem;
        background-color:#F2B441BB;  
        padding:0.8vw;
        font-weight: 500;
        border-radius: 0.3rem;
        margin:1vh auto;
    }
    div + section table{
        border-spacing: 0.9rem;       
    }       
    footer {       
        font-size: 1.25rem;        
    }
    

}